@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    clip-path: polygon(
        50% 0%,
        100% 0,
        100% 35%,
        100% 80%,
        80% 90%,
        50% 100%,
        20% 90%,
        0 80%,
        0% 35%,
        0 0
    );
    background-image: url("../../public/img/background.jpg");
    background-size: cover;
    background-position: center;
}

.list-item.active::before {
    @apply w-8;
}

.background.active {
    z-index: 9999;
    opacity: 0.98;
}

.scroll {
    background: linear-gradient(to bottom, #001325, transparent);
}

.informacoes {
    background-image: url("../../public/img/informacoes.jpg");
    background-size: cover;
    background-position: center;

    animation: animate-bg 100s alternate infinite linear;
}

@keyframes animate-bg {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

