@tailwind base;
@tailwind components;
@tailwind utilities;

.homee {
    background-image: url("../../public/img/background.jpg");
    background-size: cover;
    background-position: center;
}

.grid-banner:hover > :not(:hover) {
    @apply grayscale-[90%];
    @apply opacity-90;
    @apply blur-[.8px];
}

.list-item.active::before {
    @apply w-8;
}

.background.active {
    z-index: 9999;
    opacity: 0.98;
}

.truncatee {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7; 
}

.scroll {
    background: linear-gradient(to bottom, #000425, transparent);
}

.informacoes {
    background-image: url("../../public/img/informacoes.jpg");
    background-size: cover;
    background-position: center;

    animation: animate-bg 100s alternate infinite linear;
}

@keyframes animate-bg {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
