@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/background-principal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -150px right 50%;
}

.bg-prefeito {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/background-prefeito.jpeg");
    background-size: cover;
    background-position: top -300px right 50%;
}

.bg-saocristovao {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/background-saocristovao.jpg");
    background-size: cover;
    background-position: top -760px right 50%;
}

.bg-prefeitura {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/background-prefeitura.jpeg");
    background-size: cover;
    background-position: top -200px right 50%;
}

.bg-semas {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semas.jpg");
    background-size: cover;
    background-position: top -500px right 50%;
}

.bg-cgm {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-cgm.jpeg");
    background-size: cover;
    background-position: top -250px right 50%;
}

.bg-semdes,
.bg-smtt {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semdes.jpeg");
    background-size: cover;
    background-position: top -550px right 50%;
}

.bg-semed {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semed.jpg");
    background-size: cover;
    background-position: top -450px right 50%;
}

.bg-semel {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semel.jpeg");
    background-size: cover;
    background-position: top -750px right 50%;
}

.bg-semfop {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semfop.jpg");
    background-size: cover;
    background-position: top -500px right 50%;
}

.bg-gapre {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-gapre.jpeg");
    background-size: cover;
    background-position: top -300px right 50%;
}

.bg-segov {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-segov.jpeg");
    background-size: cover;
    background-position: top -700px right 50%;
}

.bg-seminfra {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-seminfra.jpeg");
    background-size: cover;
    background-position: top -250px right 50%;
}

.bg-semma {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semma.jpeg");
    background-size: cover;
    background-position: top -400px right 50%;
}

.bg-pgm {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-pgm.jpg");
    background-size: cover;
    background-position: top -150px right 50%;
}

.bg-sms {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-sms.jpeg");
    background-size: cover;
    background-position: top -600px right 50%;
}

.bg-semsurb {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-semsurb.jpeg");
    background-size: cover;
    background-position: top -450px right 50%;
}

.bg-fumctur {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-fumctur.jpeg");
    background-size: cover;
    background-position: top -450px right 50%;
}

.bg-saae {
    background-image: url("https://anexos.saocristovao.se.gov.br/storage/files/18/portal/background/bg-saae.jpeg");
    background-size: cover;
    background-position: top -650px right 50%;
}

.bg-grandient-bottom {
    background: linear-gradient(to bottom, #172554, #1e40af);
}

.grid-banner:hover > :not(:hover) {
    @apply grayscale-[90%];
    @apply opacity-90;
    @apply blur-[.8px];
}

.list-item.active::before {
    @apply w-8;
}

.background.active {
    z-index: 9999;
    opacity: 0.98;
}

.truncate-p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
}

.truncate-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
}

.scroll {
    background: linear-gradient(to bottom, #000425, transparent);
}

.gradient-post-bottom {
    background: linear-gradient(to top, #172554, transparent);
}

.hidden-menu-accessibility {
    @apply bottom-10;
    @apply opacity-0;
    @apply -z-[999];
}

.show-menu-accessibility {
    @apply bottom-24;
    @apply opacity-100;
    @apply z-[999];
}

.hidden-modal {
    @apply top-1/4;
    @apply opacity-0;
    @apply -z-[999];
}

.show-modal {
    @apply top-2/4;
    @apply opacity-100;
    @apply z-[99999];
}

.hidden-back-modal {
    @apply opacity-0;
    @apply -z-[999];
}

.show-back-modal {
    @apply opacity-100;
    @apply z-[9999];
}

.hidden-item-menu {
    @apply hidden;
    @apply opacity-0;
    @apply h-0;
}

.show-item-menu {
    @apply flex;
    @apply opacity-100;
    @apply h-max;
}

#menu {
    transform-origin: top right;
}

.cursor-big {
    cursor: url("../../public/img/cursor-default.png") 30 0, auto;
}

.cursor-pointer-big {
    cursor: url("../../public/img/cursor-big.png") 30 0, pointer !important;
}

.active {
    padding: 10px 0;
}

#input {
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#input span {
    position: relative;
    margin: 15px -5px 0 -5px;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 0.85em;
    user-select: none;
}

#input span::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    left: 0;
    right: 0;
    margin: auto;
    top: -12px;
    background-color: #ccc;
}

#input input {
    width: 100%;
    margin: 5px 10px;
    position: relative;
    background-color: #ccc;
    border-radius: 99px;
    z-index: 10;
    height: 7px;
    -webkit-appearance: none;
}

#input input::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 99px;
    background: #1e3a8a;
    cursor: pointer;
}

#input input::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 99px;
    background-color: #1e3a8a;
    cursor: pointer;
    -webkit-appearance: none;
}
